waivek
wheel
pytest
Flask
flask-cors
pysqlite3-binary
timeago
python-dotenv
Flask-SQLAlchemy
SQLAlchemy-serializer
python-slugify

# chat.py
requests
requests_ip_rotator

# download_worker
psutil
yt-dlp

# test
pydantic

# video_stats
pandas
