{% extends "base.html" %}
{% block title %}Sync Video on Video (Create Portion){% endblock %}
{% block head %}
    <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
    {% if offsets %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/xrange.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/highcharts-more.src.js"></script>
    
    {% endif %}
{% endblock %}
{% block body %}
<style>
a { cursor: pointer; }
.embeds {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
}
</style>
<main class="mono tall">
    <h1>Sync Video on Video (Create Portion)</h1>
    {% include "nav.html" %}
    <style>
        .baseline { align-items: baseline; }
        .shrink-0 { flex-shrink: 0; }
        .flex-wrap { flex-wrap: wrap; }
        input[readonly] { field-sizing: content; }
    </style>
    <div class="embeds box">
        <div id="twitch-embed"></div>
        <div id="sync-embed"></div>
    </div>
    {% if clip %}
    <div class="box wide">
        <div>{{ (clip['vod_offset'] - clip['duration']) | hhmmss }} ({{ clip['vod_offset'] - clip['duration'] }})</div>
        <span><a href="https://clips.twitch.tv/{{ clip['id'] }}">Twitch</a></span>
        <span><a href="{{ url_for('clip', clip_id=clip['id']) }}">{{ url_for('clip', clip_id=clip['id']) }}</a></span>
    </div>
    {% endif %}
    <div class="box wide baseline">
        <div class="tall shrink-0">
            <div class="tall-0">
                <span>Start: {{ video['created_at_epoch'] | to_ist }}</span>
                <span>End: {{ (video['created_at_epoch'] + video['duration']) | to_ist }}</span>
                <span>Duration: {{ video['duration'] | hhmmss }}</span>
            </div>
            <h4>POV’s - Updated on player time update</h4>
            <div class="gray">{{ video['id'] }} @ <span id="sync_offset">{{ 0 | hhmmss }}</span> - Sync - {{ video['user_name'] }}</div>

            <div id="synced_videos_list">
                {{ synced_videos_html | safe }}
            </div>
        </div>
        <div>
            <form action="{{ url_for('create_portion', sequence_id=sequence_id) }}" method="POST">
                <div class="tall">
                    <div class="wide flex-wrap">
                        <div>
                            <label class="gray">sequence_id</label>
                            <input type="text" name="sequence_id" value="{{ sequence_id }}" readonly>
                        </div>

                        <div>
                            <label class="gray">user_id</label>
                            <input type="text" name="user_id" value="{{ video['user_id'] }}" readonly>
                        </div>

                        <div>
                            <label class="gray">created_at_epoch</label>
                            <input type="text" name="created_at_epoch" value="{{ video['created_at_epoch'] }}" readonly>
                        </div>

                        <div>
                            <label class="gray">url</label>
                            <input type="text" name="url" value="{{ video['url'] }}" readonly>
                        </div>

                        <div>
                            <label class="gray">video_id</label>
                            <input type="text" name="video_id" value="{{ video['id'] }}" readonly>
                        </div>
                    </div>
                    <input type="text" name="title" placeholder="title">
                    <div class="wide">
                        <div class="tall">
                            <input type="text" name="start" placeholder="start">
                            <div>
                                <button type="button" onclick="set_start()">Set Start</button>
                                <button type="button" onclick="jump_to_start()">Jump to Start</button>
                            </div>
                        </div>
                        <div class="tall">
                            <input type="text" name="end" placeholder="end">
                            <div>
                                <button type="button" onclick="set_end()">Set End</button>
                                <button type="button" onclick="jump_to_end()">Jump to End</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        {# create a <select> out of sequences: list[Sequence] #}
                            <button class="font-bold" type="submit">CREATE PORTION</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="box">{{ video }}</div>
    <div class="box tall">
        {% if offsets %}
        {% if not graph_payload['chapters'] %}
        <div class="error">No chapters found, run `python chapters.py {{ video['id'] }}`</div>
        {% endif %}
        <div id="chart">
        </div>
        {% else %}
        <div class="error">No offsets found, download offsets to see Chart</div>
        <div>
            {# <button>Add Video {{ video['id'] }} to Chat Download Queue</button> #}
            {% if video_id_in_chat_download_queue %}
            <div>Video is in Chat Download Queue, Go to <a href="{{ url_for('chat_downloads') }}">Chat Download Queue</a></div>
            {% else %}
            {# <form action="/add_video_to_chat_download_queue/{{ video['id'] }}" method="post"> #}
            <form action="{{ url_for('add_video_to_chat_download_queue', video_id=video['id']) }}" method="post">
                <button>Add Video to Chat Download Queue</button>
            </form>
            {% endif %}
        </div>
        {% endif %}
    </div>
</main>

<script>
    function log(string_or_object) {
        if (typeof string_or_object === "string") {
            console.log(`[view_create_portion] ${string_or_object}`);
        } else {
            const object_string = JSON.stringify(string_or_object, null, 2);
            console.log(`[view_create_portion] ${object_string}`);
        }
    }
    console.log("Hello from view_create_portion");
    var options = {
        height: 360,
        width: "100%",
        video: "{{ video['id'] }}",
        autoplay: false
    };
    var player = new Twitch.Player("twitch-embed", options);
    var sync_player = null;
    // player.setVolume(0.5);
    function hhmmss(seconds_integer) {
        var hours = Math.floor(seconds_integer / 3600);
        var minutes = Math.floor((seconds_integer - (hours * 3600)) / 60);
        var seconds = seconds_integer - (hours * 3600) - (minutes * 60);
        // zero pad if required
        if (hours < 10) { hours = "0" + hours; }
        if (minutes < 10) { minutes = "0" + minutes; }
        if (seconds < 10) { seconds = "0" + seconds; }
        return hours + "h" + minutes + "m" + seconds + "s";
    }
    async function update_synced_videos_list (position=null) {
        const offset = position || player.getCurrentTime();
        const video_id = "{{ video['id'] }}";
        const offset_integer = Math.floor(offset);
        const url = "/get_synced_videos_html/" + video_id + "/" + offset_integer + "?sequence_id={{ sequence_id }}";
        fetch(url).
            then(response => response.text()).
            then(html => {
                document.getElementById("synced_videos_list").innerHTML = html;
            });
        document.getElementById("sync_offset").innerHTML = hhmmss(offset_integer);


        log(`update_synced_videos_list: offset: ${hhmmss(offset_integer)}`);
    }
    function load_sync_embed(video_id, offset) {
        const listener = () => {
            sync_player.removeEventListener(Twitch.Player.PLAY, listener);
            sync_player.seek(offset);
        };
        if (sync_player === null) {
            const options = {
                height: 360,
                width: "100%",
                video: video_id,
                autoplay: true,
                time: '0h0m0s' // this has to be 0. suppose initially it is 08h00m00s and we switch to a video that is 04h00m00s, the embed thinks `playback has ended` and errors
            };
            sync_player = new Twitch.Player("sync-embed", options);
            sync_player.addEventListener(Twitch.Player.PLAY, listener);
        } else {
            sync_player.addEventListener(Twitch.Player.PLAY, listener);
            sync_player.setVideo(video_id);
        }
    }
    player.addEventListener(Twitch.Player.SEEK, function() {
        // log(`Twitch.Player.SEEK, arguments: ${JSON.stringify(arguments)}`);
        const position = arguments[0].position;
        update_synced_videos_list(position);
    });
    player.addEventListener(Twitch.Player.PAUSE, function() {
        // log(`Twitch.Player.PAUSE, arguments: ${JSON.stringify(arguments)}`);
        update_synced_videos_list();
    });
    function set_start() {
        const offset = player.getCurrentTime();
        document.querySelector("input[name=start]").value = Math.floor(offset);
    }
    function set_end() {
        const offset = player.getCurrentTime();
        document.querySelector("input[name=end]").value = Math.floor(offset);
    }
    function jump_to_start() {
        const offset = document.querySelector("input[name=start]").value;
        if (offset === "") {
            return;
        }
        player.seek(parseFloat(offset));
    }
    function jump_to_end() {
        const offset = document.querySelector("input[name=end]").value;
        if (offset === "") {
            return;
        }
        player.seek(parseFloat(offset));
    }
        
    
</script>

<script>
    const that = this;
    const graph_payload = {{ graph_payload | tojson }};
    // Marker maker function
    function createMarkers(markerData) {
        return markerData.map((marker) => ({
            x: marker.start,
            x2: marker.end,
            y: 0,
            color: 'rgba(255, 255, 0, 0.5)',  // Semi-transparent yellow
            label: marker.title
        }));
    }

    // Use graph_payload['chapters'] as input
    const chapterMarkers = graph_payload['chapters'];

    Highcharts.chart('chart', 
        {
            title: {
                text: null
            },
            chart: {
                backgroundColor: "#2a2a2b",
                zooming: {
                    type: 'x',
                },
                panning: true,
                panKey: 'shift',
                events: {
                    click: function(event) {

                        if (event.srcElement.firstChild && event.srcElement.firstChild.data === "Reset zoom") {
                            return
                        }
                        that.player.seek(parseInt(that.hover_point));
                    },
                    load: function () {
                        const chart = this,
                            series = chart.series[0],
                            points = series.points;

                        setInterval(function () {
                            if (that.player === null) { return; }
                            if (chart.xAxis === undefined) { return; }
                            if (chart.xAxis[0].plotLinesAndBands[0] === undefined) { return; }
                            var offset = parseInt(that.player.getCurrentTime());
                            chart.xAxis[0].plotLinesAndBands[0].options.value = offset;
                            chart.xAxis[0].update();
                        }, 500);
                        window.chart = chart;
                        // const pointsToUpdate = graph_payload['peakpairs'].map(x => x['peak_offset']);
                        const pointsToUpdate = graph_payload['top_offsets']
                        points.forEach(function(point) {
                            if (pointsToUpdate.includes(point.x)) {
                                point.update({
                                    color: 'red',
                                    marker: {
                                        enabled: true,
                                    }
                                });
                            }
                        });
                        console.log('Done');

                        
                    },
                }
            },
            tooltip: {
                headerFormat: '',
            },
            xAxis: {
                crosshair: { color: 'green', 'dashStyle': 'dot' },
                plotLines: [{
                    color: '#FF0000',
                    width: 2,
                    value: 0
                }],
                labels: {
                    formatter: function() {

                        return new Date(this.value * 1000).toISOString().substring(11, 19);
                    },
                    style: {
                        color: '#FFFFFF' // White color for x-axis labels
                    }
                },
                lineColor: '#FFFFFF', // White color for x-axis line
                tickColor: '#FFFFFF', // White color for x-axis ticks
                title: {
                    text: 'Time',
                    style: {
                        color: '#FFFFFF' // White color for x-axis title
                    }
                }
            },
            yAxis: {
                title: {
                    text: 'Chapters',
                    style: {
                        color: '#FFFFFF' // White color for y-axis title
                    }
                },
                labels: {
                    style: {
                        color: '#FFFFFF' // White color for y-axis labels
                    }
                },
                lineColor: '#FFFFFF', // White color for y-axis line
                tickColor: '#FFFFFF' // White color for y-axis ticks
            },
            legend: {
                itemStyle: {
                    color: '#FFFFFF' // White color for legend text
                },
                itemHoverStyle: {
                    color: '#CCCCCC' // Light gray color for legend item hover
                }
            },
            accessibility: { enabled: false },
            series: [

            {
                data: graph_payload['countpairs'],
                {# data: [ [0, 1], [1, 2] ], #}
                name: 'chat',
                tooltip: {
                    pointFormatter() {
                        that.hover_point = this.x;
                        return new Date(this.x * 1000).toISOString().substring(11, 19);
                        /* return tooltip.defaultFormatter.call(this, tooltip); */
                    },
                },
                point: {
                    events: {
                        click: function (event) {
                            if (event.srcElement.firstChild && event.srcElement.firstChild.data === "Reset zoom") {
                                return
                            }
                            that.player.seek(parseInt(that.hover_point));
                            console.log('[point:click] x: ' + that.hover_point);
                        }
                    }
                }
            }, 
            {
                type: 'bubble',
                minSize: 10,
                maxSize: 40,
                name: 'clips',
                tooltip: {
                    userHTML: true,
                    pointFormatter: function(tooltip) {
                        that.hover_point = this.x;
                        var hhmmss = new Date(this.x * 1000).toISOString().substring(11, 19);
                        return `
                        ${this.title} <br/>
                        ${this.views} <br/>
                        ${hhmmss}
                        `;
                    },
                },
                pointWidth: 20,
                point: {
                    events: {
                        click: function (event) {
                            if (event.srcElement.firstChild && event.srcElement.firstChild.data === "Reset zoom") {
                                return
                            }
                            that.player.seek(parseInt(that.hover_point));
                            console.log('[series.clips.point.click] x: ' + that.hover_point);
                            console.log('[series.clips.point.click]');
                        }
                    }
                },
                data: [], // video clips
            },
            {
                type: 'xrange',
                name: 'Chapters',
                data: createMarkers(chapterMarkers),
                dataLabels: {
                    enabled: true,
                    color: '#FFFFFF',
                    align: 'center',
                    formatter: function () {
                        return this.point.label;
                    }
                }
            }

            ],

    });
</script>
{% endblock %}
